.media-embed_half_left {
  float: left;
  margin: 0 1.5em 1.5em 0;
  width: 50%;
}

.media-embed_half_right {
  float: right;
  margin: 0 0 1.5em 1.5em;
  width: 50%;
}

.media-embed_full_width {
  margin: 0 0 1.5em 0;
  width: 100%;
}

.media-embed_half_left img,
.media-embed_half_right img,
.media-embed_full_width img {
  max-width: 100%;
  height: auto;
}
